@keyframes topToBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes bottomToTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}
